swagger: "2.0"
info:
  version: "0.0.1"
  title: Twitter Push App
# during dev, should point to your local machine
host: datalinks.nl:3000
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /twitterfeed:
    # binds a127 app logic to a route
    x-swagger-router-controller: push_twitterfeed
    post:
      description: Returns 'Nothing' to the caller
      # used as the method name of the controller
      operationId: twitterfeed
      parameters:
        - name: message
          in: body
          description: twitter message
          required: true
          schema: 
            $ref: '#/definitions/TweetMessage'
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/TwitterResponse"
        # responses may: fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  TweetMessage:
    description: Tweet Message object
    properties:
      user:
        type: string
        description: twitter username
      message:
        type: string
        description: message
      score:
        type: number
        description: 1.0 for positive 0.0 for negative
    required:
      - user
      - message
      - score
  TwitterResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
